html, body {
	margin: 0; padding: 0;
	width: 100%;
	height: 100%;
}

.main-container {
	background: #2D3C57;
	color: #ecf0f1;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 20px;
	height: 100%;
}
.forecast-container {
	text-align: center;
}
.day {
	display: inline-block;
	width: 175px;
}
.city {
	padding: 0 20px;
}
.section {
	padding: 5px;
	text-align: center;
	clear: both;
}
.icon {
	min-height: 60px;
}
.day-of-the-week {
	font-size: 25px;
}
.text-forecast {
	min-height: 64px;
}
.temp-high, .temp-low {
	float: left;
	width: 42%;
	font-size: 30px;
}
.high-low {
	display: inline-block;
}
.temp-high {
	margin-right: 10px;
}
.temp-low {
	color: #687387;
}
.weather-icon img {
    width: 70px;
}
.city, .date {
	text-align: center;
	color: #687387;
	font-size: 16px;
}
.clock {
	font-family: "Lato", sans-serif;
	font-size: 160px;
	text-align: center;
	margin: -30px 0;
}
