.section {
	padding: 5px;
	margin: 5px 0;
}

/*.date {
	border: 1px solid blue;
}
.day-of-the-week {
	border: 1px solid red;
}
.icon {
	border: 1px dashed salmon;
}
.text-forecast {
	border: 1px dashed brown;
}
.temp-high {
	border: 1px solid beige;
}
.temp-low {
	border: 1px dashed indianred;
}*/