<!DOCTYPE html>
<html ng-app="ForecastApp">
<head>
	<title>Ang Proj</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/main.css" rel="stylesheet"/>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Google font for clock-->
	<link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>

	<!-- Angular core library -->
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

</head>
<body ng-controller="MainCtrl" onload="startTime(), startDate()">
	<div class="main-container">

		<div id="clock" class="clock"></div>
		<div id="date" class="date"></div>

		<div ng-controller="ForecastController">
			<!-- AUTO LOCATION FINDER -->
			<div class="auto-data-container" ng-init="dropZip()">
				<div class="forecast-container row">
					<div class="day" ng-repeat="day in tenDayAuto.forecast.simpleforecast.forecastday | limitTo:quantity">
						<!-- <div class="date section">
							Date (or time)
							<p>
							{{ day.date }}</p>
						</div> -->

						<div class="icon section">
							<div class="weather-icon" ng-if="day.conditions == 'Clear'">
								<img src="../images/clear.png" title="clear"/>
							</div>
							<div class="weather-icon" ng-if="day.conditions == 'Partly Cloudy'">
								<img src="../images/partly_cloudy.png" title="Partly Cloudy"/>
							</div>
							<div class="weather-icon" ng-if="day.conditions == 'Chance of Rain'">
								<img src="../images/chance_of_rain.png" title="Chance of Rain"/>
							</div>
							<div class="weather-icon" ng-if="day.conditions == 'Overcast' || day.conditions == 'Mostly Cloudy'">
								<img src="../images/overcast.png" title="Overcast"/>
							</div>
							<div class="weather-icon" ng-if="day.conditions == 'Rain'">
								<img src="../images/rain.png" title="Rain"/>
							</div>
							<div class="weather-icon" ng-if="day.conditions == 'Snow'">
								<img src="../images/snow.png" title="Snow"/>
							</div>
							<div class="weather-icon" ng-if="day.conditions == 'Fog'">
								<img src="../images/fog.png" title="Fog"/>
							</div>
						</div>
						<!-- <div class="text-forecast section">
							<p>{{ day.conditions }}<p>
						</div> -->
						<div class="high-low section">
							<div class="temp-high">
								{{ day.high.fahrenheit }}
							</div>
							<div class="temp-low">
								{{ day.low.fahrenheit }}
							</div>
						</div>
						<div class="day-of-the-week section">
							{{ day.date.weekday }}
						</div>
					</div>
				</div> <!-- end forecast-container -->
			</div> <!-- end auto-data-container -->

			<div ng-controller="LocationController">
				<div class="location-container" ng-init="getLocation()">
					<div class="city" ng-repeat="result in results | limitTo:quantity">
						{{ result.address_components[3].long_name }}, {{ result.address_components[5].short_name}}
					</div>
				</div>
			</div>

			<!-- MANUAL LOCATION SEARCH -->
			<div class="location-query">
				<h3>Or type in a zip code</h3>
				<form ng-submit="search(keywords)">
					<input type="text" ng-model="keywords" name="field" id="locationSubmit" placeholder="Enter your location" autofocus />
					<input name="submit" value="Submit" type="submit"/>
				</form>
			</div>

			<div class="search-data-container">
				<div class="forecast-container row">
					<div class="city" ng-repeat="result in resultsSearch | limitTo:quantity">
						<h2>The 10 day forecast for {{ result.address_components[1].long_name }}, {{ result.address_components[2].short_name}}</h2>
					</div>
					<div class="forecast" ng-repeat="day in tenDaySearch.forecast.simpleforecast.forecastday">
						<div class="day">
							<!-- <div class="date section">
								Date (or time)
								<p>
								{{ day.date }}</p>
							</div> -->
							<div class="icon section">
								<div class="weather-icon" ng-if="day.conditions == 'Clear'">
									<img src="../images/clear.png" title="clear"/>
								</div>
								<div class="weather-icon" ng-if="day.conditions == 'Partly Cloudy'">
									<img src="../images/partly_cloudy.png" title="Partly Cloudy"/>
								</div>
								<div class="weather-icon" ng-if="day.conditions == 'Chance of Rain'">
									<img src="../images/chance_of_rain.png" title="Chance of Rain"/>
								</div>
								<div class="weather-icon" ng-if="day.conditions == 'Overcast' || day.conditions == 'Mostly Cloudy'">
									<img src="../images/overcast.png" title="Overcast"/>
								</div>
								<div class="weather-icon" ng-if="day.conditions == 'Rain'">
									<img src="../images/rain.png" title="Rain"/>
								</div>
								<div class="weather-icon" ng-if="day.conditions == 'Snow'">
									<img src="../images/snow.png" title="Snow"/>
								</div>
								<div class="weather-icon" ng-if="day.conditions == 'Fog'">
									<img src="../images/fog.png" title="Fog"/>
								</div>
							</div>
							<div class="text-forecast section">
								<p>{{ day.conditions }}<p>
							</div>
							<div class="high-low">
								<div class="temp-high section">
									High
									<p>{{ day.high.fahrenheit }}</p>
								</div>
							  <div class="temp-low section">
									Low
									<p>{{ day.low.fahrenheit }}</p>
								</div>
							</div>
							<div class="day-of-the-week section">
								<p>{{ day.date.weekday }}</p>
							</div>
						</div>
					</div>
				</div> <!-- end forecast-container -->
			</div> <!-- end search-data-container -->
		</div> <!-- end forecast controller div -->
	</div> <!-- end main-container -->

	<!-- jQuery (for bootstrap) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<!-- Modules -->
  <script src="js/app.js"></script>

	<!-- Controllers -->
	<script src="js/controllers/MainController.js"></script>

	<!-- Services -->
	<script src="js/services/forecast.js"></script>

</body>
</html>